<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>简历</th>
      <th>下载链接</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @resumes.each do |job, resume| %>
      <tr>
        <td><%= resume.content %></td>
        <td><%= link_to "下载简历", resume.attachment_url %></td>
        <td><%= button_to "delete", job_resume_path(job, resume), method: :delete, class: "btn btn-danger", confirm: "你确定要删除简历吗？"%></td>
      </tr>
    <% end %>
